/* body {
} */

.box-es {
  /* margin-top: 10px; */
  border: 1px solid #d2d6de;
  background-color: dodgerblue;
  color: white;
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.box {
  border: 1px solid #d2d6de;
  background-color: dodgerblue;
  color: white;
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

#measurements {
  font-size: 32px;
}

.pix {
  color: orchid;
  font-size: 16px;
}

.em {
  color: orange;
  font-size: 1.5em;
}

.per {
  color: orangered;
  font-size: 150%;
}

.boxese {
  /* background-color: orange;
  width: 50%; */
  /*fixed lengths*/
  /* height: 150px; */
  border: 2px solid dodgerblue;
}

.boxe-1 {
  width: 3rem;
  height: 3rem;
  background-color: aqua;
}
