/* body {
} */

.box-es div {
  /* margin-top: 10px; */
  border: 1px solid #d2d6de;
  background-color: dodgerblue;
  color: white;
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

.box {
  border: 1px solid #d2d6de;
  background-color: dodgerblue;
  color: white;
  width: 100px;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
}

#measurements {
  font-size: 32px;
}

.pix {
  color: orchid;
  font-size: 16px;
}

.em {
  color: orange;
  font-size: 1.5em;
}

.per {
  color: orangered;
  font-size: 150%;
}

.boxes{
  padding: 10px;
  color: white;
  background-color: dodgerblue;
}
.boxes div{
  padding: 20px;
  width: 100px;
height: 50px;
}
.boxe-1{
background-color: orange;


}
.boxe-2{
  background-color: lightgreen;
 
  

  }
  .boxe-3{
    background-color: lawngreen;
    }