body {
  background-color: #dcdde1;
}

/* 
.para-2 {
  font-size: 0.8em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: skyblue;
} */

article:first-child {
  background-color: skyblue;
  font-size: 8px;
  margin: 5px;
  padding: 10p;
}

p:first-child {
  background-attachment: fixed;
}

p::first-letter {
  font-weight: bold;
  font-size: 140%;
}

p::first-line {
  font-weight: bold;
}

::selection {
  background-color: palevioletred;
}

/* p::before {
  content: "...";
  display: inline-block;
} */

p::after {
  content: "...";
  display: inline-block;
}

a {
  background-color: red;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

a:visited {
  background-color: gray;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: orangered;
}

.para-inhretence {
  color: dodgerblue;
  border: 1px solid black;
}

strong {
  color: initial;
  border: inherit;
}

a:hover {
  background-color: #273c75;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.box {
  width: 200px;
  height: 200px;
  /* background-color: rgba(10, 175, 230, 1); */
  margin-top: 10px;
  /* background: linear-gradient(to right, dodgerblue, pink); */
  background: radial-gradient(white, pink);
}
