body {
  background-color: #dcdde1;
}

/* 
.para-2 {
  font-size: 0.8em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: skyblue;
} */

article:first-child {
  background-color: skyblue;
  font-size: 8px;
  margin: 5px;
  padding: 10p;
}

p:first-child {
  background-attachment: fixed;
}

p::first-letter {
  font-weight: bold;
  font-size: 140%;
}

p::first-line {
  font-weight: bold;
}

::selection {
  background-color: palevioletred;
}

/* p::before {
  content: "...";
  display: inline-block;
} */

p::after {
  content: "...";
  display: inline-block;
}

a {
  background-color: red;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

a:visited {
  background-color: gray;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: orangered;
}

.para-inhretence {
  color: dodgerblue;
  border: 1px solid black;
}

strong {
  color: initial;
  border: inherit;
}

a:hover {
  background-color: #273c75;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.box {
  width: 200px;
  height: 200px;
  /* background-color: rgba(10, 175, 230, 1); */
  margin-top: 10px;
  /* background: linear-gradient(to right, dodgerblue, pink); */
  background: radial-gradient(circle, white, pink);
}

.container-2 {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 100px;
}

.box-1 {
  background: linear-gradient(45deg, dodgerblue, yellow, white);
  /* background-color: #273c75; */
  width: 200px;
  height: 200px;
}

.box-right {
  background: linear-gradient(red, yellow, blue, orange);
  /* border: 2px solid slategray;
  border-width: 10px 20px 4px; */
  border-radius: 50%;
  box-shadow: 10px 10px 10px rgb(135, 235, 135);
}

.box-1r {
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 30px grey;
  background: linear-gradient(dodgerblue, yellow);
}

.own {
  color: #16453e;
}

h2 {
  background-color: dodgerblue;
  color: white;
  padding: 10px;
  margin: 0;
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

/* .container-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
} */

.container-box div {
  width: 200px;
  border: 1px solid red;
  height: 200px;
  background-color: #273c75;
  padding: 40px;
  box-sizing: border-box;
}
